@import "tailwindcss";

@theme {
  --spacing-navbar: 96px;
  --home-height: calc(100vh - var(--spacing-navbar));
  --color-accent: #0466c8;
  --color-background: #fdfffc;
  --color-text: #212529;
  --color-background-dark: #272a2e;
  --color-text-dark: #fdfffc;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  scroll-behavior: smooth;
}